:root {
  --red: #ee3035;
  --blue: #76b3e2;
  --yellow: #f0c22f;
}

@font-face {
  font-family: TheBystanderSans;
  src: url(fonts/BystanderSans-Bold.woff);
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "barlow", serif;
}

h1 {
  font-family: TheBystanderSans;
  color: white;
  text-shadow: 0.2rem 0.2rem black;
  text-align: center;
  font-size: calc(32px + 1vw);
  padding: 3rem 0 1rem 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

/* --- navbar --- */

header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  padding-bottom: 1rem;
}

.section-2-who-we-are,
.section-3-products,
.section-4-producers,
.section-5-where-are-we {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  /* min-height: calc(100vh - 50px); */
  /* WIP - we need to understand how to divide the viewport between navbar and section */
}

.section-2-text {
  grid-column: 2/-3;
}

.nav-bar {
  grid-column: 2/-2;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar img {
  max-height: 50px;
  padding: 1rem 0 1rem 0;
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

ul li a {
  font-size: calc(8px + 0.4vw);
  text-decoration: none;
  color: black;
}

ul li a:active {
  font-weight: bold;
}

/* --- home --- */

.home {
  background-color: var(--red);
  display: grid;
  grid-template-columns: 1fr;
}

.home img {
  /* object-fit: cover; */
  width: 100%;
  /* max-height: 100%; */
}

.section-1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-1-text img {
  max-width: 50%;
  /* for the size we need to try that weird thing with 3 dimensions */
  padding: 3rem 0 3rem 0;
}

.section-1-text p,
.section-2-text p {
  max-width: 60%;
  text-align: center;
  color: white;
  font-size: calc(10px + 0.4vw);
  padding-bottom: 3rem;
}

/* section 2 - who we are */
.section-2-who-we-are {
  background-color: var(--blue);
  display: flex;
  flex-direction: column-reverse;
  padding: 3rem 0 3rem 0;
}

.section-2-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-2-who-we-are img {
  background-color: var(--blue);
  align-self: center;
  max-width: 80%;
}

/* we want to change the CSS for the desktop view and not the other way around. We define the mobile version first and then everything else */
@media only screen and (min-width: 600px) {
  h1 {
    text-align: left;
    font-size: calc(40px + 0.4vw);
    padding-bottom: 3rem;
  }

  /* --- nav bar --- */
  header {
    padding-bottom: 0;
  }
  .nav-bar {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .nav-bar img {
    max-height: 50px;
  }

  ul {
    width: max-content;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 0;
  }

  ul li a:hover {
    text-decoration: underline #76b3e2 3px;
    text-underline-offset: 5px;
  }

  /* section 1 */

  .home {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .section-1-text img {
    max-width: 50%;
    /* for the size we could try that weird thing with 3 dimensions */
    padding: 3rem;
  }

  .section-1-text p {
    padding-bottom: 0;
  }

  /* section 2 */

  .section-2-who-we-are p {
    text-align: left;
    max-width: 80%;
  }

  .section-2-who-we-are {
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    gap: 1.5rem;
  }

  .section-2-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .section-2-who-we-are img {
    max-width: 100%;
  }
}
